
  @font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../components/fonts/Roboto-Regular.ttf'); /* IE9 Compat Modes */
    src: url('../components/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../components/fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../components/fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../components/fonts/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  
  @font-face {
    font-family: 'weathericons';
    src: url('../components/fonts/Roboto-Regular.ttf'); /* IE9 Compat Modes */
    src: url('../components/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../components/fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../components/fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../components/fonts/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  [class^="wi-"], [class*="wi-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'weathericons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

