.front-page {
    flex: 1;

    .navigation-wrap {
        padding: 10px;

        .nav-items {
            text-align: right;
            list-style-type: none;

            .menu-items {
                a {
                    text-decoration: none;
                    color: #000;

                    &:hover {
                        color: #ff836d;
                    }
                }
            }
        }
    }
}